<!DOCTYPE html>
<html>
    <head>
        <title>BanjiNet - User Profile</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Shared/user.css">
    </head>
    <body>
        <!-- top nav -->
        <div id="navic" class="navbar navbar-black container container-fluid nav-tabs">
            <div class="">
                <a href="#postModal" role="button" data-toggle="modal" class="navbar-brand logo"><img src="https://static.licdn.com/scds/common/u/images/logos/linkedin/logo_in_nav_44x36.png" style="max-height:32px;"></a>
            </div>
            <nav class="navbar-header navbar-fixed-top text-right nav-tabs" role="navigation">
                <ul class="nav navbar-nav text-center">
                    <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-home"></i> Home</a> </li>
                    <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-user"></i> Search</a> </li>
                    <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-graduation-cap"></i> Workers</a> </li>
                    <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-briefcase"></i> Companies</a> </li>
                    <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-briefcase"></i> Edit Profile</a> </li>
                    <li class="visible-xs"> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-user"></i> User Profile</a></li>
                    <li> <a href="#postModal" role="button" data-toggle="modal"><i class="fa fa-briefcase"></i> Log Out</a> </li>
                </ul>
            </nav>      
        </div>
        <!-- /top nav -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
